INSTRUCTIONS
1. States the question you want to ask, and formulates the Null and Alternative hypothesis (remember the confidence level!)
2. Use pandas to read in the CitiBike files, either from the DF, or locally, but you must be able to download them on the spot (so the TA can reproduce your work).
3. Display the top few rows of the DF in your notebook. This table must be rendered.
4. Display the reducted dataframe. This table must be rendered.
5. Plot your data distributions.

#QUESTION TOO EASY??

Question: Does birth year affect trip duration?

Null Hypothesis: The average trip duration of riders with birth years 1960 or older is the same or longer than younger riders, significance level p=0.05. 

R60(trip duration) >= Ryounger(trip duration)

Alternative Hypothesis: The average trip duration of riders with birth years 1960 or older is signficantly shorter than younger riders.

R60(trip duration) < Ryounger(trip duration)

In [76]:
from __future__ import print_function
__author__ = 'Franz Loza CUSP 2016'

import json
import urllib2
import csv
import requests
import sys
import os

import numpy as np
from numpy.random import randn
import pylab as pl

from pandas import Series, DataFrame
import pandas
import pandas as pd
import matplotlib

#Citi Bike data location
url = "https://s3.amazonaws.com/tripdata/201501-citibike-tripdata.zip"

In [ ]:
#Alternate dataframe setup approach

#import json
#path = '.txt'
#lines = open(path).readlines()
#records = [json.loads(line) for line in lines]

#from pandas import DataFrame, Series
#import pandas as pd

#frame = DataFrame(records)
#frame

In [4]:
from zipfile import ZipFile
from StringIO import StringIO
import urllib2

r = urllib2.urlopen(url).read()
file = ZipFile(StringIO(r))
citi_csv = file.open("201501-citibike-tripdata.csv")
citiDF = pd.read_csv(citi_csv)
citiDF.shape
citiDF.head(n=5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1346,1/1/2015 0:01,1/1/2015 0:24,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,2
1,363,1/1/2015 0:02,1/1/2015 0:08,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,1
2,346,1/1/2015 0:04,1/1/2015 0:10,491,E 24 St & Park Ave S,40.740964,-73.986022,505,6 Ave & W 33 St,40.749013,-73.988484,20845,Subscriber,1974.0,1
3,182,1/1/2015 0:04,1/1/2015 0:07,384,Fulton St & Waverly Ave,40.683178,-73.965964,399,Lafayette Ave & St James Pl,40.688515,-73.964763,19610,Subscriber,1969.0,1
4,969,1/1/2015 0:05,1/1/2015 0:21,474,5 Ave & E 29 St,40.745168,-73.986831,432,E 7 St & Avenue A,40.726218,-73.983799,20197,Subscriber,1977.0,1

In [63]:
year_counts = citiDF['birth year'].value_counts()
#year_counts[:10]
year_counts.head(n=10)

1983.0    11092
1985.0    10402
1984.0    10313
1986.0     9763
1982.0     9662
1987.0     9487
1981.0     9214
1980.0     8877
1988.0     8541
1990.0     8538
Name: birth year, dtype: int64

In [103]:
#dir(citiDF['birth year'])
citiDF['birth year'].head(n=10).mean
#.value_counts()

<bound method Series.mean of 0    1960.0
1    1963.0
2    1974.0
3    1969.0
4    1977.0
5    1969.0
6    1972.0
7    1985.0
8    1991.0
9    1991.0
Name: birth year, dtype: float64>

In [85]:
plt.figure
#(figsize=(10, 4))
year_counts.head(n=20).plot(kind='barh', rot=0)
plt.show
#how come nothing appears?

In [100]:
year_counts.groupby(['birth year'])

KeyError: 'birth year'

In [14]:
#Truncate number of columns
'''#All fields 
col_list=['tripduration', 'starttime', 'stoptime', 'start station id', 'start station name', \
          'start station latitude', 'start station longitude', 'end station id', 'end station name', \
          'end station latitude', 'end station longitude', 'bikeid', 'usertype', 'birth year', 'gender'] 
'''
col_list=['tripduration','birth year']
citiDF_tripAge = citiDF[col_list]
#citiDF_tripAge.head(n=5)
#citiDF_tripAge[:5]
len(citiDF_tripAge)

285552

In [49]:
#year = citiDF_tripAge['birth year']
BirthYears = citiDF_tripAge['birth year'].unique()
#BirthYears = [c['birth year'] for c in citiDF_tripAge if 'birth year' in c]
BirthYears[:10]

array([ 1960.,  1963.,  1974.,  1969.,  1977.,  1972.,  1985.,  1991.,
        1979.,  1980.])

In [96]:
from collections import Counter
counts = Counter(BirthYears)
#counts.most_common(10)
counts[:5]

TypeError: unhashable type

In [92]:
#Create dataset for birth year <1960
df_sixty = citiDF_tripAge['birth year'] <= 1960
df_sixty_f = citiDF_tripAge[df_sixty]

#Calculate mean tripduration if birth year < 1960
sixty_mean = df_sixty_f['tripduration'].mean
sixty_std = df_sixty_f['tripduration'].std

sN = len(df_sixty_f)

In [93]:
#Create dataset for birth year 1960+
df_younger = citiDF_tripAge['birth year'] > 1960
df_younger_f = citiDF_tripAge[df_younger]

#Calculate mean tripduration if birth year < 1960
y_mean = df_younger_f['tripduration'].mean
y_std = df_younger_f['tripduration'].std

yN = len(df_younger_f)
#y_mean

In [98]:
#Test for significance
z_score = (sixty_mean-y_mean)/(y_std/np.sqrt(sN))
z_score

TypeError: unsupported operand type(s) for -: 'instancemethod' and 'instancemethod'

In [97]:
#Plot data
ax = citiDF_tripAge.head(n=100).plot.scatter(x='birth year', y='tripduration', rot=90)
ax.set_xlabel('Birth Year')
ax.set_title("Citibike Trip Duration by Birth Year")