INSTRUCTIONS
1. States the question you want to ask, and formulates the Null and Alternative hypothesis (remember the confidence level!)
2. Use pandas to read in the CitiBike files, either from the DF, or locally, but you must be able to download them on the spot (so the TA can reproduce your work).
3. Display the top few rows of the DF in your notebook. This table must be rendered.
4. Display the reducted dataframe. This table must be rendered.
5. Plot your data distributions.

Question: Does birth year affect trip duration?

Null Hypothesis: The average trip duration of riders with birth years 1960 or older is the same or longer than younger riders, significance level p=0.05. 

Alternative Hypothesis: The average trip duration of riders with birth years 1960 or older is signficantly shorter than younger riders.

In [12]:
from __future__ import print_function
__author__ = 'Franz Loza CUSP 2016'

import json
import urllib2
import csv
import requests
import sys
import os

import numpy as np
from numpy.random import randn
import pylab as pl

from pandas import Series, DataFrame
import pandas
import pandas as pd
import matplotlib

#Citi Bike data location
url = "https://s3.amazonaws.com/tripdata/201501-citibike-tripdata.zip"

In [15]:
from zipfile import ZipFile
from StringIO import StringIO
import urllib2

r = urllib2.urlopen(url).read()
file = ZipFile(StringIO(r))
citi_csv = file.open("201501-citibike-tripdata.csv")
citiDF = pd.read_csv(citi_csv)
citiDF.shape
citiDF.head(n=5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1346,1/1/2015 0:01,1/1/2015 0:24,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,2
1,363,1/1/2015 0:02,1/1/2015 0:08,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,1
2,346,1/1/2015 0:04,1/1/2015 0:10,491,E 24 St & Park Ave S,40.740964,-73.986022,505,6 Ave & W 33 St,40.749013,-73.988484,20845,Subscriber,1974.0,1
3,182,1/1/2015 0:04,1/1/2015 0:07,384,Fulton St & Waverly Ave,40.683178,-73.965964,399,Lafayette Ave & St James Pl,40.688515,-73.964763,19610,Subscriber,1969.0,1
4,969,1/1/2015 0:05,1/1/2015 0:21,474,5 Ave & E 29 St,40.745168,-73.986831,432,E 7 St & Avenue A,40.726218,-73.983799,20197,Subscriber,1977.0,1

In [16]:
#Truncate number of columns
'''#All fields 
col_list=['tripduration', 'starttime', 'stoptime', 'start station id', 'start station name', \
          'start station latitude', 'start station longitude', 'end station id', 'end station name', \
          'end station latitude', 'end station longitude', 'bikeid', 'usertype', 'birth year', 'gender'] 
'''
col_list=['tripduration','birth year']
citiDF_tripAge = citiDF[col_list]
citiDF_tripAge.head(n=5)

   tripduration  birth year
0          1346      1960.0
1           363      1963.0
2           346      1974.0
3           182      1969.0
4           969      1977.0

In [23]:
#Plot data
ax = citiDF_tripAge.head(n=100).plot.scatter(x='birth year', y='tripduration', rot=90)
ax.set_xlabel('Birth Year')
ax.set_title("Citibike Trip Duration by Birth Year")