INSTRUCTIONS
1. States the question you want to ask, and formulates the Null and Alternative hypothesis (remember the confidence level!)
2. Use pandas to read in the CitiBike files, either from the DF, or locally, but you must be able to download them on the spot (so the TA can reproduce your work).
3. Display the top few rows of the DF in your notebook. This table must be rendered.
4. Display the reducted dataframe. This table must be rendered.
5. Plot your data distributions.

Question: Does birth year affect trip duration?

Null Hypothesis: The average trip duration of riders with birth years 1960 or older is the same or longer than younger riders, significance level p=0.05. 

Alternative Hypothesis: The average trip duration of riders with birth years 1960 or older is signficantly shorter than younger riders.

In [2]:
from __future__ import print_function
__author__ = 'Franz Loza CUSP 2016'

import json
import urllib2
import csv
import requests
import sys
import os

import numpy as np
from numpy.random import randn
import pylab as pl

from pandas import Series, DataFrame
import pandas
import pandas as pd
import matplotlib

#Citi Bike data location
url = "https://s3.amazonaws.com/tripdata/201501-citibike-tripdata.zip"

In [3]:
from zipfile import ZipFile
from StringIO import StringIO
import urllib2

r = urllib2.urlopen(url).read()
file = ZipFile(StringIO(r))
citi_csv = file.open("201501-citibike-tripdata.csv")
citiDF = pd.read_csv(citi_csv)
citiDF.shape
citiDF.head(n=5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1346,1/1/2015 0:01,1/1/2015 0:24,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,2
1,363,1/1/2015 0:02,1/1/2015 0:08,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,1
2,346,1/1/2015 0:04,1/1/2015 0:10,491,E 24 St & Park Ave S,40.740964,-73.986022,505,6 Ave & W 33 St,40.749013,-73.988484,20845,Subscriber,1974.0,1
3,182,1/1/2015 0:04,1/1/2015 0:07,384,Fulton St & Waverly Ave,40.683178,-73.965964,399,Lafayette Ave & St James Pl,40.688515,-73.964763,19610,Subscriber,1969.0,1
4,969,1/1/2015 0:05,1/1/2015 0:21,474,5 Ave & E 29 St,40.745168,-73.986831,432,E 7 St & Avenue A,40.726218,-73.983799,20197,Subscriber,1977.0,1

In [4]:
#Truncate number of columns
'''#All fields 
col_list=['tripduration', 'starttime', 'stoptime', 'start station id', 'start station name', \
          'start station latitude', 'start station longitude', 'end station id', 'end station name', \
          'end station latitude', 'end station longitude', 'bikeid', 'usertype', 'birth year', 'gender'] 
'''
col_list=['tripduration','birth year']
citiDF_tripAge = citiDF[col_list]
citiDF_tripAge.head(n=5)

   tripduration  birth year
0          1346      1960.0
1           363      1963.0
2           346      1974.0
3           182      1969.0
4           969      1977.0

In [38]:
#Create dataset for birth year <1960
df_sixty = citiDF_tripAge['birth year'] <= 1960
df_sixty_f = citiDF_tripAge[df_sixty]

#Calculate mean tripduration if birth year < 1960
sixty_mean = df_sixty_f['tripduration'].mean
sixty_std = df_sixty_f['tripduration'].std

print (sixty_mean)

<bound method Series.mean of 0         1346
16         614
63         297
66         354
68         326
96         265
97         243
103        231
111        439
116        280
152        724
157        827
170        724
174        375
176        779
178        356
219        756
229        407
239        651
241        567
276        351
302       1608
306        480
312        563
350        185
364       1526
370        283
387        567
429        307
443        933
          ...
285256     757
285265     947
285282     557
285293     538
285304    1450
285307     179
285310     493
285318     516
285320     397
285345     172
285362     169
285368     715
285369     619
285376     477
285378     651
285382     604
285394     585
285403     479
285416     377
285433    1069
285456     283
285458     474
285485     290
285488     492
285491     667
285495    1072
285498     601
285499     498
285547     169
285550     725
Name: tripduration, dtype: int64>

In [39]:
#Create dataset for birth year 1960+
df_younger = citiDF_tripAge['birth year'] > 1960
df_younger_f = citiDF_tripAge[df_younger]

#Calculate mean tripduration if birth year < 1960
y_mean = df_younger_f['tripduration'].mean
y_std = df_younger_f['tripduration'].std

y_mean

<bound method Series.mean of 1          363
2          346
3          182
4          969
5          496
6          152
7         1183
8          846
9          576
10         540
11         419
12         751
13         332
14        1099
15         649
17        1196
18        1426
19        1262
20         707
21         307
22        1053
23         446
25         797
27        1639
29         470
30         321
31         259
32          81
33         123
35         697
          ...
285520     207
285521     654
285522     257
285523     141
285524     125
285525     860
285526     471
285527     587
285528     399
285529    1544
285530     579
285531     284
285532    1527
285533    1509
285534     954
285535     447
285536     433
285537     319
285538     216
285539    1004
285540     926
285541     546
285542     429
285543     229
285544     401
285545     296
285546     993
285548     827
285549     798
285551     892
Name: tripduration, dtype: int64>

In [40]:
#Test for significance
z_score = (y_mean-sixty_mean)/(sixty_std/np.sqrt(len(df_younger)))
z_score

if z_score > 2:
    print("Reject null hypothesis")
else:
    print("hypothesis cannot be rejected")

TypeError: unsupported operand type(s) for -: 'instancemethod' and 'instancemethod'

In [4]:
#Plot data
ax = citiDF_tripAge.head(n=100).plot.scatter(x='birth year', y='tripduration', rot=90)
ax.set_xlabel('Birth Year')
ax.set_title("Citibike Trip Duration by Birth Year")

NameError: name 'citiDF_tripAge' is not defined